:root {
  --light: #f6f7eb;
  --dark: #393e41;
  --borderColor: #e94f37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 105%;
}
body {
  position: relative;
  display: flex;
  font-family: "Open Sans", sans-serif;
}
.hamburgermenu {
  position: absolute;
  background-color: #fff;
  border-radius: 10%;
}
.hamburgermenu:hover {
  cursor: pointer;
  background-color: rgba(57, 62, 65, 1);
}
.sidebarContainer {
  display: none;
  justify-content: start;
  align-items: center;
  position: absolute;
  background-color: rgba(57, 62, 65, 1);
  padding: 50vh 160px;
}

.sidebar {
  display: flex;
  position: absolute;
  margin-right: 100%;
  flex-direction: column;
  width: 30%;
}

.card {
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
}

.quiz {
  padding: 20px 0;
}

.btn {
  background: #fff;
  color: #222;
  font: var(--buttonText);
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: blueviolet;
  color: white;
}

/* Felles classes for farge og border for cardelementer
basert på figmafil. */

.darkMode {
  color: var(--light);
  background-color: var(--dark);
}

.border {
  border: 2px solid var(--borderColor);
  border-radius: 10px;
}

.headerText {
  font: 48px/50px bold "Open Sans", sans-serif;
}

.subHeaderText {
  font: 24px/26px bold "Open Sans", sans-serif;
}

#next-btn {
  background: black;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
}

.correct {
  background: brown;
}

.incorrect {
  background: yellow;
}
