:root {
  --light: #f6f7eb;
  --dark: #393e41;
  --borderColor: #e94f37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 105%;
}
body {
  position: relative;
  background-color: var(--dark);
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.hamburgermenu {
  position: absolute;
  background-color: #fff;
  border-radius: 10%;
}
.hamburgermenu:hover {
  cursor: pointer;
  background-color: rgba(57, 62, 65, 1);
}
.sidebarContainer {
  display: none;
  justify-content: start;
  align-items: center;
  position: absolute;
  background-color: rgba(57, 62, 65, 1);
  padding: 50vh 160px;
  border-right: 2px solid var(--borderColor);
}

.sidebar {
  display: flex;
  position: absolute;
  margin-right: 100%;
  flex-direction: column;
  width: 30%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding: 30px;
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px 0;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

/* Felles classes for farge og border for cardelementer
basert på figmafil. */

.darkMode {
  color: var(--light);
  background-color: var(--dark);
}

.btnDark {
  background: var(--light);
  color: var(--dark);
}

.btnDark:hover {
  background: var(--dark);
  color: var(--light);
}

.border {
  border: 2px solid var(--borderColor);
  border-radius: 10px;
}

.headerText {
  font: bold 48px/50px "Open Sans", sans-serif;
}

.subHeaderText {
  font: bold 24px/26px "Open Sans", sans-serif;
}
.btnText {
  font: bold 16px/24px "Open Sans", sans-serif;
}

#next-btn {
  background: black;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
}

.correct {
  background: brown;
}

.incorrect {
  background: yellow;
}
